body {
  margin: 0;
  font-family: Georgia, serif;
  background: #0b0b0b;
  color: #eee;
}

.main {
  display: flex;
  height: 100vh;
}

.left {
  width: 45%;
  padding: 20px;
}

.right {
  width: 55%;
  padding: 30px;
  background: linear-gradient(to left, #111, #0b0b0b);
  overflow-y: auto;
}

/* PORTADA */
.cover {
  position: relative;
  max-height: 350px;
  overflow: hidden;
  border-radius: 12px;
}

.cover img {
  width: 100%;
  filter: brightness(65%);
}

/* PLAYER */
.player-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

audio {
  width: 100%;
}

/* VISUALIZER */
#visualizer {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  background: rgba(0,0,0,0.3);
  border-radius: 8px;
}

/* PLAYLIST */
#playlist {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

#playlist li {
  padding: 10px;
  background: #1a1a1a;
  margin-bottom: 6px;
  border-radius: 6px;
  cursor: pointer;
}

#playlist li:hover {
  background: #333;
}

.active {
  background: #8b2a2a !important;
  color: #ffd9a0;
}

/* LETRAS */
#song-title {
  margin-bottom: 20px;
  color: #ffd9a0;
}

.lyrics {
  white-space: pre-line;
  line-height: 1.8;
  font-size: 17px;
}

/* PALABRAS */
.word {
  cursor: pointer;
}

.word:hover {
  color: #ffd9a0;
}

/* TOOLTIP */
.tooltip {
  position: fixed;
  background: #111;
  color: #ffd9a0;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  display: none;
  z-index: 1000;
}
